body{
    margin: 0;

    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;

    background-color: #9886ff;
    font-family: "Stack Sans Headline", sans-serif;
}

#display{
    width: 400px;
    height: 635px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 5px 5px 20px #00000050;
    gap: 10px;
    padding: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.calc-button{
    width: 90px;
    height: 60px;
    border-radius: 10px;
    margin: 5px;
    background-color: #ffffff;
    box-shadow: 3px 3px 10px #00000020;
    border: 0;
    cursor: pointer;
    font-size: 30px;
    transition: 0.3s ease;
    font-family: "Stack Sans Headline", sans-serif;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;


    /* 1. Убирает синее выделение/подсветку при нажатии (tap-highlight) */
    -webkit-tap-highlight-color: transparent;
    
    /* 2. Отключает возможность выделения текста (предотвращает меню копирования/вставки) */
    -webkit-touch-callout: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none; /* У вас это свойство уже есть, но лучше оставить */
}

.func-btn{
    background-color: #cec5ff;
    font-size: 30px;
}

.calc-buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.equal{
    grid-row: span 2;
    height: 130px;
}

.zero{
    grid-column: span 3;
    width: 290px;
}


.screen{
    background-color: #e8e8e8;
    width: 370px;
    height: 50px;
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    font-size: 40px;
    padding: 10px;
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
    overflow: hidden;
}

.display-value{
    display: inline-block;
    white-space: inline-block;
    transform-origin: right center;
    transition: transform 0.2s ease-out;
}

.backspace-img{
    filter: brightness(0);
}

@media (hover: hover){
    .calc-button:hover{
        /* background-color: #e8e8e8; */
        box-shadow: 3px 3px 10px #00000040;
    }
    
    .func-btn:hover{
        background-color: #afa0ff;
    }
}

@media (hover: none){
    .calc-button:active{
        /* background-color: #e8e8e8; */
        box-shadow: 3px 3px 10px #00000040;
    }
    
    .func-btn:active{
        background-color: #afa0ff;
    }
}



@media screen and (max-width: 475px){
    #display{
        width: 300px;
        height: 525px;
        background-color: blue;
    }

    .calc-button{
        width: 65px;
        height: 45px;
        font-size: 20px;
    }

    .equal{
        height: 100px;
    }

    .zero{
        width: 215px;
    }

    .screen{
        width: 270px;
        height: 35px;
    }

    .func-btn{
        font-size: 25px;
    }
}
